@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
}

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */
}
.text-whit{
    color: white!important;
}
.text-dark{
    color: var(--q-dark)!important;
}
body.body--light{
    color: var(--q-dark);
    background-color: white;
}
body.body--dark{
    color: white;
    background-color: var(--q-dark);
}
.vue-scroll-picker-layer-top{
    background-color: green !important;
    height: .7 var(--vh);
}
.vue-scroll-picker-layer-bottom{
    background-color: greenyellow !important;
}
.holynames-page{
    height: max-content;
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: white;
}
@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/dmsans-2fb93aaf.woff2') format('woff2'),
       url('/assets/fonts/dmsans-dbe1f17c.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Serif Display';
  src: url('/assets/fonts/dmserifdisplay-aca0e217.woff2') format('woff2'),
       url('/assets/fonts/dmserifdisplay-cbc631ca.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Mono';
  src: url('/assets/fonts/dmmono-612bc94f.woff2') format('woff2'),
       url('/assets/fonts/dmmono-cbe07c46.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}